html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
		link(rel='stylesheet',href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
	body
		.container
			.col-md-4
			.col-md-4
				h1 Please Register
				br
				form.form-signin(method='post',action='/register', id='registerform',style='')
					.form.group
						label(for='email') Email Address
						input(class='form-control',id='email',type='text',name='email',placeholder='Enter your email', required)
					.form-group
						label(for='password') Password
						input(class='form-control',id='password',type='password',name='password',placeholder='Password',required)
					input(class='btn btn-default btn-block', type='submit', value='Sign Up' )
			.col-md-4